.page {
  background-image: url("adult-aged-baby-226616.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  height: 50vh;
  width: 50%;
  background-color: rgba(183, 195, 221, 0.767);
  /* opacity: 0.7; */
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ffffff;
  /* box-shadow: 0 0 0 8px #ff0030; */
  font-family: "Homemade Apple", cursive;
  font-size: 60px;
  color: white;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.664);
  transition: all 0.3s ease;
  line-height: 1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.main:hover {
  background-color: rgb(183, 195, 221);
  cursor: pointer;
}

body {
  background: linear-gradient(
    to bottom right,
    rgba(183, 195, 221, 0.767),
    white
  );
}

.logo {
  /* display: flex;
  justify-content: center;
  align-content: center; */
}

.title {
  margin: 20px;
  text-shadow: rgba(84, 95, 121, 0.32) 0px 1px 15px 0px;
}

@media (max-width: 900px) {
  .page {
    background-image: none;
  }
}
