.header {
  background-color: rgba(183, 195, 221, 0.767);
  color: white;
  /* border: 1px solid #e2dada; */
  height: 10vh;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Homemade Apple", cursive;
  box-shadow: rgba(25, 78, 192, 0.32) 0px 1px 15px 0px;
}

.title {
  margin-top: auto;
  letter-spacing: 1px;
  font-size: 30px;
  text-decoration: none;
}

.title:visited {
  color: white;
}

.menu-button {
  /* position: relative;
  right: 5%;
  top: 4%; */
  width: 45px;
  height: 45px;
  color: white;
  display: flex;
  justify-content: space-between;
}

famlogo {
  margin: 10px;
}

.button-wrap {
  height: 45px;
  width: 45px;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 45px; /* Preferred icon size */
  color: white;
  display: inline-block;
  line-height: 1;
  padding-right: 5px;
  /* margin-right: 30px; */
  /* text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; */
}

.material-icons:hover {
  text-decoration: underline;
}

@media (max-width: 415px) {
  .header {
    padding: 1px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  .title {
    font-size: 20px;
    margin-right: 20px;
  }
  .header {
    background-color: rgba(183, 195, 221, 0.767);
    height: 10vh;
    margin-top: 3px;
  }
  .menu-button {
    display: flex;
    justify-content: space-between;
  }
}
