.housebox {
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 8px;
  width: 25vw;
  height: 78vh;
  background-color: none;
  flex-basis: 1;
  margin-top: 10px;
  padding: 10px;
  /* box-shadow: rgba(84, 95, 121, 0.32) 0px 1px 15px 0px; */
}

.addfam {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  /* height: 90vh; */
  display: flex;
  justify-content: space-between;
}

.familyholder {
  width: 95vw;
  margin: 2vh 2.5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.calc-div {
  height: 80vh;
  width: 40vw;
  background: linear-gradient(
    to bottom right,
    rgba(108, 117, 138, 0.767),
    rgba(65, 76, 99, 0.767)
  );
  display: fixed;
  justify-content: center;
  margin-top: 20px;
  margin-left: 10px;
  flex-basis: 1;
  border-radius: 8px;
  box-shadow: rgba(84, 95, 121, 0.32) 0px 1px 15px 0px;
}

.inputfield {
  height: 50%;
  width: 80%;
  align-self: center;
  background-color: seashell;
  margin: auto;
  border-radius: 8px;
  line-height: 60px;
  padding: 20px;
  box-shadow: rgba(43, 48, 61, 0.32) 0px 1px 15px 0px;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  align-items: center;
}

.titlecalc {
  font-size: 27px;
  color: seashell;
  font-family: "Bungee Shade", cursive;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1 {
  padding: 20px;
  color: seashell;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.api {
  height: 80vh;
  width: 25vw;
  background: url("https://i.pinimg.com/564x/4e/9c/db/4e9cdb6ddff3428b98c6645cb619cc35.jpg");
  display: flex;
  justify-content: right;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;
  flex-basis: 1;
  box-shadow: rgba(84, 95, 121, 0.32) 0px 1px 15px 0px;
  border-radius: 8px;
}

.clock {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(108, 117, 138, 0.767);
  font-family: "Raleway", sans-serif;
  font-size: 5.5vw;
  text-shadow: 5px 5px #ffffff6c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: center;
  margin: auto;
}

.autodate {
  color: rgba(108, 117, 138, 0.767);
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  text-shadow: 2px 2px #ffffff6c;
  text-align: center;
  margin: auto;
}

.apititle {
  font-family: "Zilla Slab Highlight", cursive;
  font-size: 2.5vw;
  color: rgba(62, 62, 63, 0.767);
  /* text-shadow: 3px 3px #5a5a5a6c; */
  text-align: center;
  /* margin: auto; */
}

.advice {
  color: rgb(0, 0, 0);
  font-family: "Nothing You Could Do", cursive;
  font-size: 2vw;
  color: rgba(78, 85, 102, 0.767);
  text-shadow: 2px 2px #ffffffd2;
  margin: auto;
  text-align: center;
  word-wrap: break-word;
}

@media (max-width: 1438px) {
}

@media (max-width: 1025px) {
  .calc-div {
    display: none;
  }
  .api {
    display: none;
  }
  .housebox {
    width: 95%;
    height: 100%;
  }
}
